                        h1 {
                            color: red;
                            text-align: center;
                            border-radius: 6px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border: 3px solid red;
                            background-color: white;
                        }
                        
                        body {
                            margin-top: 7cm;
                            text-align: center;
                            height: 100%;
                            width: 100%;
                            background-color: white;
                            font-size: 30;
                        }
                        
                        button {
                            margin-top: 10px;
                            color: red;
                            background-color: white;
                            text-align: center;
                            font: 1em sans-serif;
                            font-size: 20;
                            border-radius: 7px;
                            font-weight: bolder;
                            border-radius: 6px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border: 3px solid red;
                        }
                        
                        input[type=number] {
                            border-radius: 4px;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            height: 40;
                            border: 1px solid #000000;
                            width: 250px;
                            font-size: 13.5;
                            border-radius: 6px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border: 3px solid red;
                        }
                        
                        .option {
                            height: 100;
                        }
                        
                        #item {
                            height: 40;
                            width: 250px;
                            font-size: 13.5;
                            border-radius: 6px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border: 3px solid red;
                        }
                        
                        #calcBox {
                            background-color: black;
                            height: 420px;
                            width: 380px;
                            border-radius: 10px;
                            position: relative;
                            top: 80px;
                            left: 40%;
                            border-radius: 6px;
                            -moz-border-radius: 6px;
                            -webkit-border-radius: 6px;
                            border: 3px solid red;
                        }